{%  load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body  style = "background-image: url({%  static  'bgx.jpg'  %})">
<h2  style = "color:white;">Register here</h2>
<form  action = "register"  method = "post">
    {%  csrf_token  %}
    <input type = 'text'  name = 'username'  placeholder = 'username'><br>
    <br>
    <input type = 'text'  name = 'first_name'  placeholder = 'Enter name'><br>
    <input type = 'text'  name = 'last_name'  placeholder = 'Enter name'><br>
    <input type = 'email'  name = 'email'  placeholder = 'Enter your email'><br>
    <br>
    <input type = 'password'  name = 'password'  placeholder = 'Enter password'><br>
    <input type = 'password'  name = 'passworda'  placeholder = 'confirm password'><br>
    <br>
    <input type="submit">

</form>
{%  for msg in messages  %}
<h2>{{msg}}</h2>
{%  endfor  %}
</body>
</html>